<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Piotr RASTATrooper Tabencki - Portfolio</title>
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>
<body>

<header class="header" id="home">
    <a class="logo" href="/">FOTOGRAFIA Piotr Tabencki</a>
    <div onclick="displayMenu()" class="burger"><i class="ri-menu-line"></i></div>
    <ul>
        <li><a href="#about">O mnie</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Kontakt</a></li>
    </ul>
</header>

{% block content %}{% endblock %}

<footer class="footer">
    <p>&copy; Piotr RASTATrooper Tabencki 2023 - All rights reserved.</p>
    </section>

</footer>
<script src="{{ asset('js/swiper.js') }}"></script>
<script src="{{ asset('js/menu.js') }}"></script>
<script src="{{ asset('js/fslightbox.js') }}"></script>
<script>
    AOS.init();
</script>
</body>
</html>